body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0px 20px;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 24px;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-card {
  margin: 5px;
  width: 200px;
  padding: 5px;
  background-color: #f0f0f0;
}

.restaurant-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.restaurant-logo {
  width: 100%;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
}

.login {
  padding: 0px 20px;
  cursor: pointer;
}

.filter {
  display: flex;
}
